.p {
    margin: 0;
    padding: 0;
}

.body {
    min-width: 1000px;
    max-width: 1400px;
    margin: 0;
    background-color: white;
}

/*header*/
.header {
    border: 1px solid #707070;
    background-color: #155767;
    margin: 0 auto;
    width: 97%;

}
.container{
    width: 95%;
    margin: 0 auto;
    
}


.flex {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.line {

    background-color: white;
    width: 15rem;
    border-right: white;
    border-radius: 40px;
}

.users {
    display: flex;

}

.users-text {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-self: center;
    padding: .5rem;
    text-decoration: none;
}

.page1 {
    margin-top: 5rem;
    display: flex;
    height: 48rem;
}

.pages {

    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.svg-item {
    padding-right: 1rem;

}

.item {
    list-style-type: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding: 1rem;
}

.section2 {
    border-left: 1px solid black;
    width: 90%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.people {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;


}

.add {
    color: #969697;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-self: flex-start;
}

.refresh {
    display: flex;
    flex-direction: row;
    justify-content: end;
    


}
.cancel{
    background-color: #969697;
    color: #FCFCFD;
    width: 10rem;
    padding: 1rem;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
}
.config {
    background-color: #00BFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #F7F7F9;
    text-align: center;
    width: 12rem;
    padding: 1rem;
   

}

.svg-c {
    background-color: black;
    padding: 1rem;
    margin-top: 1.2rem;
}


.form {
    width: 95%;
}

.status {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    
}
.information{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #969697;
    margin-left: 3rem;
}

.input-status {
    width: 27rem;
    height: 3rem;
}
.name-pad{
    margin-left: 1rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #969697;
}

.search {
    width: 22rem;
    height: 3rem;
    padding-left: 4rem;
}
.input-status1{
    width: 27rem;
    height: 3rem;
    margin-left: 3rem;
}

.naming{
    padding-left: 4rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #969697;
    
}
.width{
    margin-top: 2rem;
}
.radio{
    margin-top: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.all{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}