.html{ 
    font-size: 10px;

}
.body{
    min-width: 1000px;
    max-width: 1400px;
    margin: 0;
}
.container{
    width: 95%;
    margin: 0 auto;
}
.enter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    
}
.logo{
    align-self: center;
    
}
.form-self{
    align-self: flex-end;
}
.form{
    display: flex;
    flex-direction: column;
}
.label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    margin: 0;
    color: #969697;
}

.input{
    width: 20rem;
    height: 3rem;
}
.enter-btn{  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: black;   

}
.btn{
    text-align: center;
    background-color: #00BFFF;
    width: 8rem;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    align-self: end;
}
.forgot{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #969697;
    align-self: flex-end;
}