.p {
    margin: 0;
    padding: 0;
}

.body {
    min-width: 1000px;
    max-width: 1400px;
    margin: 0;
    background-color: white;
}

/*header*/
.header {
    border: 1px solid #707070;
    background-color: #155767;

    width: 97%;
    margin: 0 auto;

}
.container{
    width: 95%;
    margin: 0 auto;
}

.flex {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.line {

    background-color: white;
    width: 15rem;
    border-right: white;
    border-radius: 40px;
}

.users {
    display: flex;

}

.users-text {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-self: center;
    padding: .5rem;
    text-decoration: none;
}

.page1 {
    margin-top: 5rem;
    display: flex;
    height: 48rem;
}

.pages {

    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.svg-item {
    padding-right: 1rem;

}

.item {
    list-style-type: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding: 1rem;
}
.section2 {
    border-left: 1px solid black;
    width: 90%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.people {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;


}

.add {
    color: #969697;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-self: flex-start;
}

.refresh {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 1rem 0;


}

.config {
    background-color: #00BFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #F7F7F9;
    text-align: center;
    width: 18rem;
    padding: 1rem;
    margin: 0;

}

.svg-c {
    background-color: black;
    padding: 1rem;
}
.digital{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding-left: 5rem;
}

.form {
    width: 100%;
}

.status {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    
}

.input-status {
    width: 15rem;
    height: 3rem;
    text-align: center;
}

.search {
    width: 40rem;
    height: 3.4rem;
    padding-left: 4rem;
    background-image: url("../img/lupa.svg");
    background-repeat: no-repeat;
    background-position: 1rem center;

}

.user-inform {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: .5rem; 
    
}

.var {
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #969697;
    
   
}
.user-inform1 {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    
    padding: .5rem;
    background-color: rgba(214, 214, 214, 0.16);
    
}
.slider{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.border{
    border-top: 1px solid black;
    width: 100%;
}
.down{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
}
.power{
    width: 7rem;
    height: 2rem;
    border-radius: 5px;

}
.star{
    height: 2.5rem;
}
.label-power{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.bord{
    color: white;
    width: 20rem;
    border-bottom: 1px solid black;
    font-size: 10px;
}
.url{
    margin-top: 2rem;
    margin-left: 4rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.kv{
    display: flex;
    flex-direction: row;
    
}
.foot{
    margin-top: 1rem;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.kv-pad{
    padding-left: 1rem;
}