.p{
    margin: 0;
    padding: 0;
}
.body{
    min-width: 1000px;
    max-width: 1400px;
    margin: 0;
    background-color: white;
}
/*header*/
.header{
    border: 1px solid #707070;
    background-color: #155767;
    
    width: 97%;
    margin: 0 auto;
    
}
.container{
    width: 95%;
    margin: 0 auto;
}

.flex{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    
   

} 
.li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.line{
    
    background-color: white;
    width: 15rem;
    border-right: white;
    border-radius: 40px;
}
.users{
    display: flex;
    
}
.users-text{
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-self: center;
    padding: .5rem;
    text-decoration: none;
}

/*configuration*/

.refresh{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 2rem 1rem;
   

}
.config{
    background-color: #00BFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #F7F7F9;
    text-align: center;
    width: 15rem;
    padding: 1rem;
    margin: 0;

}

.svg-c{
    background-color: black;
    padding: 1.1rem;
}

/*main*/
.page1{
    display: flex;
    height: 48rem;
}
.pages{
    
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;    
}

.svg-item{
    padding-right: 1rem;
   
}
.item{
    list-style-type: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding: 1rem;
}
.section2{
    border-left: 1px solid black;
    width: 90%;
}
.top{
    display: flex;
    justify-content: space-between;
}
.people{
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    
    
}
.add{
    color: #969697;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-self: flex-start;
}
.dels{
    display: flex;
    
}
.de{
    padding-right: .5rem;
}

.delete{
    background-color: #A2A3A4;
    padding: .8rem;
    width: 7rem;
    text-align: center;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;   

}
.save{

    background-color: #00BFFF;
    padding: .8rem;
    width: 7rem;
    text-align: center;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;
    
}
.form{
    width: 72%;
}
.input{
    width: 40rem;
    height: 3rem;
    
    padding-left: 2rem;
}
.label{
    margin-left: 4.5rem;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #969697;
}
.label-party{
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #969697;
}

.cc{
    display: flex;
    justify-content: space-between;
}
.code{
    margin-left: 4.5rem;
    width: 15rem;
    height: 3rem;
    padding-left: 2rem;
}
.party{
    width: 15rem;
    height: 3rem;
    
}
.token{
    display: flex;
}
.local{
    margin-left: 4.5rem;
    width: 25rem;
    height: 3rem;
    padding-left: 2rem;
}
.generate{
    background-color: #00BFFF;
    padding: 1rem;
    width: 13rem;
    background-image: url("../img/key.svg");
    background-repeat: no-repeat;
    background-position: 0.5rem;
    text-align: right;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}