.p {
    margin: 0;
    padding: 0;
}

.body {
    min-width: 1000px;
    max-width: 1400px;
    margin: 0;
    background-color: white;
}

/*header*/
.header {
    border: 1px solid #707070;
    background-color: #155767;

    width: 97%;
    margin: 0 auto;

}
.container{
    width: 95%;
    margin: 0 auto;
}
.flex {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.line {

    background-color: white;
    width: 15rem;
    border-right: white;
    border-radius: 40px;
}

.users {
    display: flex;

}

.users-text {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-self: center;
    padding: .5rem;
    text-decoration: none;
}
.page1 {
    margin-top: 5rem;
    display: flex;
    height: 48rem;
}

.pages {

    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.svg-item {
    padding-right: 1rem;

}

.item {
    list-style-type: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: black;
    padding: 1rem;
}

.section2 {
    border-left: 1px solid black;
    width: 90%;
}
.top {
    display: flex;
    justify-content: space-between;
}

.people {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;


}

.add {
    color: #969697;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-self: flex-start;
}
.refresh {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 2rem 0;


}

.config {
    background-color: #00BFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #F7F7F9;
    text-align: center;
    width: 15rem;
    padding: 1rem;
    margin: 0;

}

.svg-c {
    background-color: black;
    padding: 1rem;
}
.form{
    width: 85%;
}
.status{
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-top: 3rem;
}

.input-status{
    width: 15rem;
    height: 3rem;
    text-align: center;
}
.search{
    width: 34rem;
    height: 3.4rem;
    padding-left: 4rem;
    background-image: url("../img/lupa.svg");
    background-repeat: no-repeat;
    background-position: 1rem center;

}
.user-inform{
    display: flex;
    justify-content: space-between;
    margin: 6rem 4rem;
}
.var{
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #969697;
}